{% extends "main_page/index.html" %}
{% load poll_extras %}


{% block content %}
<div id='blur_for_banner'></div>
<div id='wrapper_for_open_big_img_banner'>
	<div id='open_big_img_banner'>
		<img class='big_img_banner'>
	</div>
</div>

<div id='wrapper_for_stoce'>
	<div id='div_wrapper_for_stock_banner'>
		<div id='div_for_stock_banner'>
			<div id='div_column_for_stock_banner_one'>		
			{% for bunner in object_list %}
					{% if forloop.counter|divide:2 == 0 %}
						<div class='div_for_stock_img'><img class='banner_stock_img  img_full' src='{{bunner.img.url}}'></div>
					{% endif %}
			{% endfor %}
			</div>
			<div id='div_column_for_stock_banner_two'>
				{% for bunner in object_list %}
					{% if forloop.counter|divide:2 != 0 %}
							<div class='div_for_stock_img'><img class='banner_stock_img  img_full' src='{{bunner.img.url}}'></div>
					{% endif %}
				{% endfor %}
			</div>
		</div>					
	</div>
</div>
{% endblock %}


