{% extends 'main_page/index.html' %}

{% block content %}
<div class='main' id='good_wrapper_main' href="{% url 'index' %}?page={{pn}}">
<div id='main_card_good'>
	<div id='card_description'>
		<div id='card_description_img'>
			{% if not good.photo %}
				<img class='img_full' src="/media/{{default_img}}">
			{% else %}
				<img class='img_full' src="/media/{{good.photo.photo}}">
			{% endif %}
		</div>

		<div id='card_description_des'>
			<div id='card_description_block_meta'>
				<div id='card_description_block_meta_one'>
					<div>ПРОИВОДИТЕЛЬ</div>
					<div class='card_description_block_meta_producer'>{{good.producer.name}}</div>
				</div>
				<div id='card_description_block_meta_two'>
					<div>АРТИКУЛ</div>
					<div class='card_description_block_meta_articul'>{{good.articul}}</div>
				</div>
				<div id='card_description_block_meta_three'>
					<div>КОД</div>
					<div class='card_description_block_meta_code'>{{good.code}}</div>
				</div>
			</div>
			<div id='card_description_block_price'>
				<div id='card_description_block_price_price'>
					<div class='card_description_block_price_price_wrapper'>
						<span>РОЗНИЧНАЯ ЦЕНА</span>
						<span>{{good.price}}</span>
					</div>
					<div class='card_description_block_price_price_wrapper'>
						{% if user.is_authenticated %}
							<span>ОПТОВАЯ ЦЕНА</span>
							<span>
								{% if opt_user == 2 %}
									{{good.price_2}}
								{% elif opt_user == 3 %}
									{{good.price_2}}
								{% elif opt_user == 5 %}
									{{good.price_5}}
								{% elif opt_user == 6 %}
									{{good.price_6}}
								{% else %}
									{{good.price}}
								{% endif %}
							</span>
						{% endif %}
					</div>
				</div>
				<div id='card_description_block_price_order'>
					<div id='card_description_block_price_order_stock'>
						<span>КОЛ-ВО</span>
						<div>{% include 'includes/battery_stock.html' %}</div>
					</div>
					<div id='card_description_block_price_order_order'>
						<span>ЗАКАЗАТЬ</span>
					    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'  onkeypress="if(event.keyCode == 13) return false;">
					        {% csrf_token %}
							{% for field in form.hidden_fields %}
								{{ field }}
							{% endfor %}
							{% for field in form.visible_fields %}
								{% if field.name == 'honeypot' %}
									<div class='honeypot'>{{ field }}</div>
								{% else %}
									<div class='form_field'>
										{% if field.errors|length > 0 %}
											<div class='eror_list'>
												{% for error in field.errors %}
													<div class='error_description'>{{ error }}</div>
												{% endfor %}
											</div>
										{% endif %}
										{% if field.label %}
											<div class='label'>{{ field.label }}</div>
										{% endif %}
										<div class='control input_count' id='form_{{good.code}}'>{{ field }}</div>
										{% if field.help_text %}
											<div class='help'>{{ field.help_text }}</div>
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						</form>
					</div>
				</div>
			</div>
			<div id='card_description_block_description'>{{good.description}}</div>
			{% comment "Optional note" %}
				<div><a href="{% url 'add_cart' code=good.code %}">Добавить в корзину</a></div>
			{% endcomment %}
			<div id='card_description_block_back'><a href="{% url 'index' %}?page={{pn}}">назад</a></div>
		</div>
	</div>
	{% comment "Optional note" %}
	onclick="return location.href='{% url 'index' %}?page={{pn}}'"
	{% if perms.admin.add_good %}
		<div id='card_admin_do'>
			<a href="{% url 'good_edit'  code=good.code %}?page={{page_obj.number}}">Изменить</a>
			<a href="{% url 'good_delete' code=good.pk %}?page={{page_obj.number}}">Удалить</a>				
		</div>
	{% endif %}
	{% endcomment %}
</div>	
</div>
{% endblock %}


{% block books_producers%}
	<div id='books_producers_wrapper'>
	{% for producer in producers %}
		<div id='books_producers_producer'><a href="{% url 'producer_list' id=producer.id %}" class='books_producers_producer_link'>{{producer.name}}</a></div>
	{% endfor %}
	</div>
{% endblock %}