{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	 	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/catalogs.css' %}">
		<link rel="stylesheet" href="{% static '/pushy-master/css/normalize.css' %}">
		<link rel="stylesheet" href="{% static '/pushy-master/css/demo.css' %}">
		<link rel="stylesheet" href="{% static '/pushy-master/css/pushy.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		{% block additional_css %}{% endblock %}
		{% block additional_js %}{% endblock %}
		<title>{% block title %}opt-online{% endblock %}</title>
	</head>
	<body>

		{% if user.is_authenticated %}
		<nav class='navbar navbar-expand-lg navbar-dark bg-dark' id='navbar_header'>
			<a href="{% url 'index' %}"  class='navbar-brand'><img src="{% static 'logo/logotype-header.png' %}" alt='logo' width="150", height="55"></a>
			<div class="btn-group">
				<ul class='navbar-nav'>
					<li class="nav-item menu-btn" id='menu_common'><a class="nav-link" href=''>&#9776; Меню</a></li>
					<li class="nav-item" ><a class="nav-link" id='cart_link' href="{% if cart.cart_total > 0 %}{% url 'cart' %}{% else %}{% endif %}"><img src='{% static "basket/cart_img/shopping-cart.svg" %}' id='cart_svg'><span class='badge' id='count_good'>{{ cart.cart_total }}</span></a></li>
					{% block navbar_link %}
					{% endblock %}
				</ul>
				{% block navbar_button %}
				{% endblock %}
			</div>
		<div class="search-container">
			<form method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
				<input id='search_input' type="text" placeholder="Искать..." name="searche_good">
				<button id='search_sumbit' type="submit">Поиск</button>
			</form>
		</div>

		</nav>

		<nav class="pushy pushy-left" data-focus="#first-link" id='main_left_menu'>
		    <div class="pushy-content">
		        <ul>
		            <li class="pushy-submenu">
		                <button id="first-link">Новые поступления</button>
		                <ul>
		                    <li class="pushy-link"><a href="{% url 'new_position' %}" id='news_admission'>Новинки</a></li>
		                </ul>
		            </li>
		            <li class="pushy-link"><a href="#" id='main_filter_bottom'>Фильтр</a></li>
		  			<li class="pushy-link"><a href="{% url 'banners_view' %}" id='action_actions'>Акции</a></li>
		  			<li class="pushy-link"><a href="{% url 'download_excel' %}" id='download_excel'>Скачать прайс</a></li>
		  			<li class="pushy-link"><a href="{% url 'catalog_pdf' %}" id='catalog_pdf'>Каталоги</a></li>
					{% if perms.admin.add_good %}
						<li class='pushy-link' id='admin_bottom'><a href='/admin'>Админ</a></li>
					{% endif %}
					{% if perms.admin.add_good %}
						<li class='pushy-link' id='working_excel'><a href=''>Запуск</a></li>
					{% endif %}
					{% if user.is_authenticated %}
						<li class="pushy-link"><a href="{% url 'history_order' %}" id='action_actions'>История заказов</a></li>
					{% endif %}
					<li class="pushy-link"><a href="{% url 'test' %}" id='action_actions'>Test</a></li>
					{% if user.is_authenticated %}
						<li class="pushy-link"><a class='position-absolute login_img_link' href="/logout" title='Выйти'>Выйти</a></li>
					{% else %}
						<li class="pushy-link"><a class='position-absolute login_img_link' href="/login" title='Войти'>Войти</a></li>
					{% endif %}
		        </ul>
		    </div>
		</nav>
		{% endif %}

		{% block content %}
		{% endblock %}


		<div id='wrapper_info_BASKET'>
			<div class="info_BASKET">
				<div class="inputs_basket" >
					<div class='logo_of_card'></div>
					ВАШ ЗАКАЗ ОФОРМЛЕН И ПЕРЕДАН МЕНЕДЖЕРУ!
					<p>Хорошего дня!</p>
					<a href="/">закрыть</a>
				</div>
			</div>
		</div>

		<script type="text/javascript"></script>
		<script src="{% static '/pushy-master/js/pushy.min.js' %}"></script>
		<script type="text/javascript">
			
			$( document ).ready(function() {
    			count_input_basket()



    			$('#confirm_order').click(function(){

					$.ajax({
						type: 'POST',
						url: 'confirm/order',
						data: {
							code: '22',
						},
						success:function(data){
							$('#wrapper_info_BASKET').css({'display':'flex', 'z-index': 3, 'position': 'relative'})
						}

					})



    			})

    			// Для запуска обработки excel bd
    			$('#working_excel').click(function(){

    				$.ajax({
    					type: 'POST',
    					url: 'working_excel',
    					data: {
    						code: 'lala',
    					},
    					success:function(data){
    						console.log(data)
    					}

    				})
    			})




    			$('#search_sumbit').click(function(){
    				console.log('ckick')

    				$.ajax({
    					type: 'POST',
    					url: 'searche_good',
    					data: {
    						input_data: $('#search_input').val(),
    					},
    					success:function(data){
    						console.log(data)
    					}

    				})
    			})
















				$('.banner_stock_img').on('click', showFullimg_2);
				function showFullimg_2(){
				/*
				
				ФУНКЦИЯ ДЛЯ ОТКРЫТИЯ БОЛЬШОГО ИЗОБРАЖЕНИЕ В БЛОКЕ АЦИИ
				С ДЕТАЛЬНЫМ ОПИСАНИЕМ ИЗ СТРОКИ

				*/

					var height_window = window.innerHeight;
					var get_id_from_img = $(this).attr('id');
					var get_src_from_img = $(this).attr('src');

					$('#open_big_img_banner').css('display', 'flex');
					$('#blur_for_banner').css('display', 'flex');
					if(height_window < 780){	
						$('.big_img_banner').css({'max-height': 'none', 'max-width': 'none'});
					}else{
						$(".big_img_banner").css({'max-height': 'none', 'max-width': 'none'});
					}
					$('.big_img_banner').attr('src', get_src_from_img);
					$(".big_img_banner").load(function() {
				    	var height_one = $(this).height();
				    	var width_one = $(this).width();
				    	console.log(height_one)
				    	if(height_one < 800){
				    		$('#open_big_img_banner').css('position', 'fixed');
				    	}
					});

					$('#wrapper_for_open_big_img_banner').css('display', 'flex');
				}

				$('.banner_stock_img').on('click', showFullimg_2);
				$('.big_img_banner').click(function(e){
					$('#open_big_img_banner').css('display', 'none');
					$('#blur_for_banner').css('display', 'none');
					$('#wrapper_for_open_big_img_banner').css('display', 'none');
					$('#open_big_img_banner').css('position', 'absolute');
				})
				$(document).mouseup(function (e) {
				    var container = $("#open_big_img_banner");
				    var container_wrapper = $('#wrapper_for_open_big_img_banner');
				    $('#open_big_img_banner').css('position', 'absolute');
				    $('#blur_for_banner').css('display', 'none');
				    if (container.has(e.target).length === 0){
				        container.hide();
				        container_wrapper.hide();
				    }
				});





			});
			

			if($(window).scrollTop() != '0'){
				console.log('TYee');
				$("nav.bar").css("box-shadow", "0px 7px 9px 0px #d0d0d0");
			}else{
				console.log($(window).scrollTop())
			}	



			// КОРЗИНА
			$(".input_count > input").on('input', count_input)
		    function count_input(){
		    	// функция для отправки ajax знечений форм на сервер
				this.value=this.value.replace(/[^\d\.]+/g,"");
				var count_v =  $(this).val()
				if (count_v == ''){
					count_v = 0
				}
				var code_v = $(this).parent().attr("id").split('_')[1]
				console.log(count_v, code_v, 'count_input')

				$.ajax({
					type: 'POST',
					url: 'count/add',
					data: {
						code: $(this).parent().attr("id").split('_')[1],
						count: count_v,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
					success:function(data){
						$('#count_good').html(data)
					}

				})




			}

			// КОРЗИНА
			function count_input_basket(){
				// Функция для заполнения полей в КОРЗИНЕ 
				var input = $(".input_count > input")
				$(input).each(function(i,elem) {
					var count = $(this).parent().attr("count")
					var count_input = $(this).val(count)

				});
			};
			

		</script>
		
	</body>
</html>
