{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	 	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/catalogs.css' %}">
		<link rel="stylesheet" href="{% static '/pushy-master/css/normalize.css' %}">
		<link rel="stylesheet" href="{% static '/pushy-master/css/demo.css' %}">
		<link rel="stylesheet" href="{% static '/pushy-master/css/pushy.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		{% block additional_css %}{% endblock %}
		{% block additional_js %}{% endblock %}
		<title>{% block title %}opt-online{% endblock %}</title>
	</head>
	<body>

		{% if user.is_authenticated %}
		<nav class='navbar navbar-expand-lg navbar-dark bg-dark' id='navbar_header'>
			<a href="{% url 'index' %}"  class='navbar-brand'><img src="{% static 'logo/logotype-header.png' %}" alt='logo' width="150", height="55"></a>
			<div class="btn-group">
				<ul class='navbar-nav'>
					<li class="nav-item menu-btn" id='menu_common'><a class="nav-link" href=''>&#9776; Меню</a></li>
					<li class="nav-item" ><a class="nav-link" id='cart_link' href="{% url 'cart' %}"><img src='{% static "basket/cart_img/shopping-cart.svg" %}' id='cart_svg'><span class='badge' id='count_good'>{{ cart.cart_total }}</span></a></li>
					{% block navbar_link %}
					{% endblock %}
				</ul>
				{% block navbar_button %}
				{% endblock %}
			</div>

			<div class="search-container">
			    <form id='search_form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'  AUTOCOMPLETE="off">
			        <input id='search_input' type="text" placeholder="Искать..." name="searche_good">
			        <div id='search_sumbit'><a href="{% url 'searche_goods_full' %}">Поиск</a></div>
			    </form>
			    <div id='search_output'></div>
			</div>
		</nav>

		<nav class="pushy pushy-left" data-focus="#first-link" id='main_left_menu'>
		    <div class="pushy-content">
		        <ul>
		            <li class="pushy-submenu">
		                <button id="first-link">Новые поступления</button>
		                <ul>
		                    <li class="pushy-link"><a href="{% url 'new_position' %}" id='news_admission'>Новинки</a></li>
		                </ul>
		            </li>
		            <li class="pushy-link"><a href="#" id='main_filter_bottom'>Фильтр</a></li>
		  			<li class="pushy-link"><a href="{% url 'banners_view' %}" id='action_actions'>Акции</a></li>
		  			<li class="pushy-link"><a href="{% url 'download_excel' %}" id='download_excel'>Скачать прайс</a></li>
		  			<li class="pushy-link"><a href="{% url 'catalog_pdf' %}" id='catalog_pdf'>Каталоги</a></li>
					{% if perms.admin.add_good %}
						<li class='pushy-link' id='admin_bottom'><a href='/admin'>Админ</a></li>
					{% endif %}
					{% if perms.admin.add_good %}
						<li class='pushy-link' id='working_excel'><a href=''>Обработка excel</a></li>
						<li class='pushy-link' id='download_photo'><a href=''>Скачать фота</a></li>
					{% endif %}
					{% if user.is_authenticated %}
						<li class="pushy-link"><a href="{% url 'history_order' %}" id='action_actions'>История заказов</a></li>
					{% endif %}
					{% if user.is_authenticated %}
						<li class="pushy-link"><a class='position-absolute login_img_link' href="/logout" title='Выйти'>Выйти</a></li>
					{% else %}
						<li class="pushy-link"><a class='position-absolute login_img_link' href="/login" title='Войти'>Войти</a></li>
					{% endif %}
		        </ul>
		    </div>
		</nav>
		{% endif %}	
			
			<div id='wrapper_info_BASKET'>
				<div class="info_BASKET">
					<div class="inputs_basket" >
						<div class='logo_of_card'></div>
						ВАШ ЗАКАЗ ОФОРМЛЕН И ПЕРЕДАН МЕНЕДЖЕРУ!
						<p>Хорошего дня!</p>
						<a href="/">закрыть</a>
					</div>
				</div>
			</div>

			<div id='img_big_wrapper'>
				<div id='img_big_wrapper_block'>
					<img id='img_big_wrapper_img' src="">
				</div>
			</div>


			<div id='content_block'>
				{% block content %}
				{% endblock %}
			</div>
	


		<footer>
			<div id='footer_wrapper_main'>
				<div id='footer_meta'>
					<div>Телефон: 555-01-23</div>
					<div>Почта: takemymoney@mail.ru</div>
				</div>
			</div>
			
		</footer>

		<script type="text/javascript"></script>
		<script src="{% static '/pushy-master/js/pushy.min.js' %}"></script>
		<script type="text/javascript">
			
			$( document ).ready(function() {
    			count_input_basket()
    			lenta_rendering()


    			$('#confirm_order').click(function(){

					$.ajax({
						type: 'POST',
						url: 'confirm/order',
						data: {
							code: '22',
						},
						success:function(data){
							$('#wrapper_info_BASKET').css({'display':'flex', 'z-index': 3, 'position': 'fixed', "background": 'rgba(138, 138, 138, 0.51)'})
						}

					})



    			})

    			// Для запуска обработки excel bd
    			$('#working_excel').click(function(){

    				$.ajax({
    					type: 'POST',
    					url: 'working_excel',
    					data: {
    						code: 'lala',
    					},
    					success:function(data){
    						console.log(data)
    					}

    				})
    			})



    			// Для запуска скрипта скачивания фото для товаров
    			$('#download_photo').click(function(){

    				$.ajax({
    					type: 'POST',
    					url: 'download_photo',
    					data: {
    						code: 'lala',
    					},
    					success:function(data){
    						console.log(data)
    					}

    				})
    			})




    			$('#search_input').on('click', function(){
    				
    				$(this).animate({
						width: '374px',
						left: "+=50",

						}, 350, function() {
						// Animation complete.
					});
    			})

				$('html').click(function(e){
					var a = e.target.id;
					var c = '#' + a;
					var b = $(c).attr('class');
					console.log('thos iid ' + a);
					if(a !='search_output' && a !='search_input'){
						$('#search_output').css('display', 'none')
						$('#search_input').css('width', '99px')
				  	}
				})



    			$('#search_input').on('input', function(){
    				var count_v =  $(this).val()
    				console.log(count_v, '1')
    				$.ajax({
    					type: 'POST',
    					url: 'searche_good',
    					data: {
    						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
    						input_data: $('#search_input').val(),
    					},
    					success:function(data){
    						$('#search_output').html(data)
    						$('#search_output').css('display', 'block')
    						
    					}

    				})
    			})



    			$('#search_sumbit').click(function(){
    				
    				$.get('/search_goods_full/', function( data ) {

					});
	
    			})





    			$('#input_search_2 > input').on('input', function(){
    				var count_v =  $(this).val()
    				console.log(count_v, '2')
    				$.ajax({
    					type: 'POST',
    					url: 'searche_good',
    					data: {
    						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
    						input_data: $('#input_search_2 > input').val(),
    					},
    					success:function(data){
    						console.log(data)
    					}

    				})
    			})







    			// Открывает фото товаров в большом окне
    			$('.img_full').click(function(){
    				var screen_widrh = window.innerWidth
    				var screen_height = window.innerHeight
    				var max_width = screen_widrh * 85 /100
    				var max_height = screen_height * 85/100
    				
    				var this_src = $(this).attr('src')
    				console.log(this_src)
    				$('#img_big_wrapper').css({
    					"display": 'flex',
    					"width": '100%',
    					"height": "100%",
    					"position": 'fixed',
    					'z-index': '3',
					    'justify-content': 'center',
					    'align-items': 'center'
    				})
    				var wrapper_display = $('#img_big_wrapper').css('display')
    				console.log(wrapper_display)
    				$('#img_big_wrapper_img').attr('src', this_src)
    				$('#img_big_wrapper_img').css({'max-width': max_width, 'max-height': max_height})
    				
    				if (wrapper_display == 'flex'){ 
	    				$('#img_big_wrapper').click(function(){
	    					$('#img_big_wrapper').css('display', 'none')
	    				});
    				}
    			});




























    			$('.cart_delete_item').click(cart_delete_item)






				$('.banner_stock_img').on('click', showFullimg_2);
				function showFullimg_2(){
				/*
				
				ФУНКЦИЯ ДЛЯ ОТКРЫТИЯ БОЛЬШОГО ИЗОБРАЖЕНИЕ В БЛОКЕ АЦИИ
				С ДЕТАЛЬНЫМ ОПИСАНИЕМ ИЗ СТРОКИ

				*/

					var height_window = window.innerHeight;
					var get_id_from_img = $(this).attr('id');
					var get_src_from_img = $(this).attr('src');

					$('#open_big_img_banner').css('display', 'flex');
					$('#blur_for_banner').css('display', 'flex');
					$('#content_block').css('height', '1300px')
					if(height_window < 780){	
						$('.big_img_banner').css({'max-height': 'none', 'max-width': 'none'});
					}else{
						$(".big_img_banner").css({'max-height': 'none', 'max-width': 'none'});
					}
					$('.big_img_banner').attr('src', get_src_from_img);
					$(".big_img_banner").load(function() {
				    	var height_one = $(this).height();
				    	var width_one = $(this).width();
				    	console.log(height_one)
				    	if(height_one < 800){
				    		$('#open_big_img_banner').css('position', 'fixed');
				    	}
					});

					$('#wrapper_for_open_big_img_banner').css('display', 'flex');
				}

				$('.banner_stock_img').on('click', showFullimg_2);
				$('.big_img_banner').click(function(e){
					$('#open_big_img_banner').css('display', 'none');
					$('#blur_for_banner').css('display', 'none');
					$('#content_block').css('min-height', '927px')
					$('#wrapper_for_open_big_img_banner').css('display', 'none');
					$('#open_big_img_banner').css('position', 'absolute');
				})
				$(document).mouseup(function (e) {
				    var container = $("#open_big_img_banner");
				    var container_wrapper = $('#wrapper_for_open_big_img_banner');
				    $('#open_big_img_banner').css('position', 'absolute');
				    $('#blur_for_banner').css('display', 'none');
				    if (container.has(e.target).length === 0){
				        container.hide();
				        container_wrapper.hide();
				    }
				});





			});
			window.onscroll = function(){
				if($(window).scrollTop() == '0'){
					$('#lenta_table_meta').css("box-shadow", "none")
				}else{
					$('#lenta_table_meta').css("box-shadow", "grey 0px 4px 20px -2px")
				}				  
			}





			function cart_delete_item(){
				var code_v = $(this).attr("id").split('_')[1]
				$(this).parent().parent().css('display', 'none')

				$.ajax({
					type: 'POST',
					url: 'count/delete',
					data: {
						code: $(this).attr("id").split('_')[1],
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
					success:function(data){
						$('#count_good').html(data)
					}

				})				

			};

















			// КОРЗИНА
			$(".input_count > input").on('input', count_input)
		    function count_input(){
		    	// функция для отправки ajax знечений форм на сервер
				this.value=this.value.replace(/[^\d\.]+/g,"");
				var count_v =  $(this).val()
				if (count_v == ''){
					count_v = 0
				}
				var code_v = $(this).parent().attr("id").split('_')[1]
				console.log(count_v, code_v, 'count_input')

				$.ajax({
					type: 'POST',
					url: 'count/add',
					data: {
						code: $(this).parent().attr("id").split('_')[1],
						count: count_v,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
					success:function(data){
						$('#count_good').html(data)
					}

				})




			}

			// КОРЗИНА
			function count_input_basket(){
				// Функция для заполнения полей в КОРЗИНЕ 
				var input = $(".input_count > input")
				$(input).each(function(i,elem) {
					var count = $(this).parent().attr("count")
					var count_input = $(this).val(count)

				});
			};
			
			// Функция будет подбирать размер мета-ленты под хедер тамблицы
			function lenta_rendering(){
				var table_width = $('.table_list_goods').css('width')

				var code_width = $('.table_tr_code').css('width')
				var code_height = $('.table_tr_code').css('height')
				var producer_width = $('.table_tr_producer').css('width')
				var producer_height = $('.table_tr_producer').css('height')
				var articul_width = $('.table_tr_articul').css('width')
				var articul_height = $('.table_tr_articul').css('height')
				var description_width = $('.row_th_description').css('width')
				var description_height = $('.row_th_description').css('height')
				var photo_width = $('.row_th_img').css('width')
				var photo_height = $('.row_th_img').css('height')
				var price_width = $('.row_th_price').css('width')
				var price_height = $('.row_th_price').css('height')
				var opt_price_width = $('.row_th_opt_price').css('width')
				var opt_price_height = $('.row_th_opt_price').css('height')
				var order_width = $('.row_th_order').css('width')
				var order_height = $('.row_th_order').css('height')
				
				$('#lenta_table_meta').css({'width': table_width, 'height': code_height})

				$('#lenta_code').css({'width': code_width, 'height': code_height})
				$('#lenta_producer').css({'width': producer_width, 'height': producer_height})
				$('#lenta_articul').css({'width': articul_width, 'height': articul_height})
				$('#lenta_description').css({'width': description_width, 'height': description_height})
				$('#lenta_photo').css({'width': photo_width, 'height': photo_height})
				$('#lenta_price').css({'width': price_width, 'height': price_height})
				$('#lenta_opt_price').css({'width': opt_price_width, 'height': opt_price_height})
				$('#lenta_order').css({'width': order_width, 'height': order_height})



			}


		</script>
		
	</body>
</html>
