{% extends "main_page/index.html" %}


{% block content %}
<div class='main'>
	<table class='table table-hover'>
		<thead>
			<th>Код</th>
			<th>Производитель</th>
			<th>Артикул</th>
			<th>Описание</th>
			<th>Цена</th>
			{% if user.is_authenticated %}
				<th>Опт-цена</th>
			{% endif %}
			<th class='row_th_img'>Фото</th>
			<th>Заказать</th>
			<th>Добавить</th>
		</thead>
		<tbody>
			{% for good in object_list %}
					<tr>
						<th><a href="{% url 'good_page' code=good.code %}?page={{page_obj.number}}">{{good.code}}</a></th>
						<th>{{good.producer}}</th>
						<th>{{good.articul}}</th>
						<th>{{good.description}}</th>
						<th>{{good.price}}</th>
						{% if user.is_authenticated %}
							{% if opt_user == 2 %}
								<th>{{good.price_2}}</th>
							{% elif opt_user == 3 %}
								<th>{{good.price_2}}</th>
							{% elif opt_user == 5 %}
								<th>{{good.price_5}}</th>
							{% elif opt_user == 6 %}
								<th>{{good.price_6}}</th>
							{% else %}
								<th>Админ</th>
							{% endif %}
						{% endif %}
						{% if not good.photo %}
							<th class='row_th_img'><img id='row_img' src="{{default_img.url}}"></th>
						{% else %}
							<th class='row_th_img'><img id='row_img' src="{{good.photo.photo.url}}"></th>
						{% endif %}
						<th>
						    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
						        {% csrf_token %}
								{% for field in form.hidden_fields %}
									{{ field }}
								{% endfor %}
								{% for field in form.visible_fields %}
									{% if field.name == 'honeypot' %}
										<div class='honeypot'>{{ field }}</div>
									{% else %}
										<div class='form_field'>
											{% if field.errors|length > 0 %}
												<div class='eror_list'>
													{% for error in field.errors %}
														<div class='error_description'>{{ error }}</div>
													{% endfor %}
												</div>
											{% endif %}
											{% if field.label %}
												<div class='label'>{{ field.label }}</div>
											{% endif %}
											<div class='control input_count' id='form_{{good.code}}'>{{ field }}</div>
											{% if field.help_text %}
												<div class='help'>{{ field.help_text }}</div>
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}
    						</form>
						</th>
						<th>
						<div><a href="{% url 'add_cart' code=good.code %}">add</a></div>
						</th>	
					</tr>	
			{% endfor %}
		</tbody>	
	</table>
	{% if page_obj.paginator.num_pages > 1 %}
		<div id='pagination'>
			{% if category %}
				{% if page_obj.has_previous %}
					<div id='previous-page'><a href="{% url 'index' %}{{category.pk}}/?page={{ page_obj.previous_page_number }}">&lt;</a></div>
				{% endif %}
				<div id='num-pages'>
					{% for pn in page_obj.paginator.page_range %}
						{% if not forllop.first %}
							&nbsp;&nbsp;|&nbsp;&nbsp;
						{% endif %}
						{% if category %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}{{category.pk}}/?page={{ pn }}">
							{% endif %}
						{% else %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}?page={{ pn }}">
							{% endif %}
						{% endif %}
						{{ pn }}
						{% if page_obj.number != pn %}
							</a>
						{% endif %}
					{% endfor %}
				</div>	
				{% if page_obj.has_next %}
					<div id='next-page'><a href="{% url 'index' %}{{category.pk}}/?page={{ page_obj.next_page_number }}">&gt;</a></div>
				{% endif %}
			{% else %}
				{% if page_obj.has_previous%}
					<div id='previous-page'><a href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">&lt;</a></div>
				{% endif %}
				<div id='num-pages'>
					{% for pn in page_obj.paginator.page_range %}
						{% if not forllop.first %}
							&nbsp;&nbsp;|&nbsp;&nbsp;
						{% endif %}
						{% if category %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}{{category.pk}}/?page={{ pn }}">
							{% endif %}
						{% else %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}?page={{ pn }}">
							{% endif %}
						{% endif %}
						{{ pn }}
						{% if page_obj.number != pn %}
							</a>
						{% endif %}
					{% endfor %}
				</div>	
				{% if page_obj.has_next%}
					<div id='next-page'><a href="{% url 'index' %}?page={{ page_obj.next_page_number }}">&gt;</a></div>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
</div>
{% endblock %}


