{% extends 'main_page/' %}


{% block content %}
	<div id='div_wrapper_for_stock_banner'>
		<div id='div_for_stock_banner'>
			<div id='div_column_for_stock_banner_one'>
				<div class='div_for_stock_img'><img class='banner_stock_img  img_full' id='".$path[$index]."' src='../images/banner_stock/".$path[$index]."' style='margin-bottom: -4px'></div>
			</div>
			<div id='div_column_for_stock_banner_two'>
				<div class='div_for_stock_img'><img class='banner_stock_img  img_full' id='".$path[$index]."' src='../images/banner_stock/".$path[$index]."' style='margin-bottom: -4px'></div>
			</div>
		</div>
	</div>
{% endblock %}


