{% extends "main_page/index.html" %}


{% block content %}
<div class='main'>
	<div class="container">
	{% for good in object_list %}
		{% if forloop.first %}
		<div class="row align-items-start">
	    {% elif forloop.last %}
		<div class="row align-items-end">
	    {% else %}
		<div class="row align-items-center">
	    {% endif %}
		    <div class="col">
		      {{good.code}}
		    </div>
		    <div class="col">
		      {{good.articul}}
		    </div>
		    <div class="col">
		      {{good.producer}}
		    </div>
	    	<div class="col">
		      {{good.description}}
		    </div>
		    <div class="col">
		      {{good.price}}
		    </div>
			{% if user.is_authenticated %}
				{% if opt_user == 2 %}
					<div class='col'>{{good.price_2}}</div>
				{% elif opt_user == 3 %}
					<div class='col'>{{good.price_2}}</div>
				{% elif opt_user == 5 %}
					<div class='col'>{{good.price_5}}</div>
				{% elif opt_user == 6 %}
					<div class='col'>{{good.price_6}}</div>
				{% else %}
					<div class='col'>Админ</div>
				{% endif %}
			{% endif %}
			{% if not good.photo %}
					<div class='col row_th_img'><img id='row_img' src="{{default_img.url}}"></div>
				{% else %}
					<div class='col row_th_img'><img id='row_img' src="{{good.photo.photo.url}}"></div>
			{% endif %}
		    <div class="col">
			    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
			        {% csrf_token %}
					{% for field in form.hidden_fields %}
						{{ field }}
					{% endfor %}
					{% for field in form.visible_fields %}
						{% if field.name == 'honeypot' %}
							<div class='honeypot'>{{ field }}</div>
						{% else %}
							<div class='form_field'>
								{% if field.errors|length > 0 %}
									<div class='eror_list'>
										{% for error in field.errors %}
											<div class='error_description'>{{ error }}</div>
										{% endfor %}
									</div>
								{% endif %}
								{% if field.label %}
									<div class='label'>{{ field.label }}</div>
								{% endif %}
								<div class='control input_count' id='form_{{good.code}}'>{{ field }}</div>
								{% if field.help_text %}
									<div class='help'>{{ field.help_text }}</div>
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				</form>
		    </div>
	  </div>
 	{% endfor %} 
	</div>
	{% if page_obj.paginator.num_pages > 1 %}
		<div id='pagination'>
			{% if category %}
				{% if page_obj.has_previous %}
					<div id='previous-page'><a href="{% url 'index' %}{{category.pk}}/?page={{ page_obj.previous_page_number }}">&lt;</a></div>
				{% endif %}
				<div id='num-pages'>
					{% for pn in page_obj.paginator.page_range %}
						{% if not forllop.first %}
							&nbsp;&nbsp;|&nbsp;&nbsp;
						{% endif %}
						{% if category %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}{{category.pk}}/?page={{ pn }}">
							{% endif %}
						{% else %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}?page={{ pn }}">
							{% endif %}
						{% endif %}
						{{ pn }}
						{% if page_obj.number != pn %}
							</a>
						{% endif %}
					{% endfor %}
				</div>	
				{% if page_obj.has_next %}
					<div id='next-page'><a href="{% url 'index' %}{{category.pk}}/?page={{ page_obj.next_page_number }}">&gt;</a></div>
				{% endif %}
			{% else %}
				{% if page_obj.has_previous%}
					<div id='previous-page'><a href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">&lt;</a></div>
				{% endif %}
				<div id='num-pages'>
					{% for pn in page_obj.paginator.page_range %}
						{% if not forllop.first %}
							&nbsp;&nbsp;|&nbsp;&nbsp;
						{% endif %}
						{% if category %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}{{category.pk}}/?page={{ pn }}">
							{% endif %}
						{% else %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}?page={{ pn }}">
							{% endif %}
						{% endif %}
						{{ pn }}
						{% if page_obj.number != pn %}
							</a>
						{% endif %}
					{% endfor %}
				</div>	
				{% if page_obj.has_next%}
					<div id='next-page'><a href="{% url 'index' %}?page={{ page_obj.next_page_number }}">&gt;</a></div>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
</div>
{% endblock %}


