@charset "utf-8";



@media not screen and (max-width: 1300px) {
    #content_block{
        background-color: #dedede;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .main > table.table_list_goods{
        width: 1266px;
        box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.5);
        background-color: #fff;
        text-align: center;
    }

    #cart_history_wrapper {
        width: 1266px;
    }

    #main_card_good{
/*        width: 1266px;
        height: 1000px;*/
        background-color: #fff;
        box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.5);
    }

}



.main > table.table_list_goods{
    text-align: center;
}


footer {
    width: 100%;
    height: 300px;
    background: #262a2d;
}









#navbar_header{
    position: fixed;
    width: 100%;
    top: 0px;
}

nav.navbar {
	background-color: #ffe6e6;
}

#content_block{
    margin-top: 81px;
    min-height: 900px;
}




.row {
	background-color: #f1f1f7;
}

#pagination {
	margin-top: 20px;
	display: flex;
	justify-content: center;
    margin-bottom: 16px;
}

#pagination #previous-page {
	float: left;
}

#pagination #num-pages {
	text-align: center;
}

#pagination #next-page {
	float: right;
}

.photo_list {
	max-width: 169px;
	max-height: 110px;
}


#row_img{
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    cursor: pointer;
}

.row_th_img {
	text-align: center;
}




/*#good_wrapper_main{
    cursor: pointer;
}*/

#main_card_good {
/*	position:  absolute;
	display: flex;
	flex-direction: column;*/
    margin-top: 36px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}






#card_description_img {
    cursor: pointer;
}



#card_description_img > img{
	max-width: 371px;
    max-height: 371px;
}

#card_description {
	display: flex;
    flex-direction: column;
    align-items: center;
}


#card_description_des {
    padding-top: 30px;
}

#card_description_block_meta{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

#card_description_block_meta > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#card_description_block_meta_one{
    margin-left: 10px;
}

#card_description_block_meta div:first-child{

}

.card_description_block_meta_producer {
    padding: 9px;
    border-radius: 4px;
    background: #101086;
    color: #fff;
    font-weight: bold;
    min-width: 150px;
}

#card_description_block_meta_two {

}

#card_description_block_meta div:nth-child(2){


}

.card_description_block_meta_articul {
    padding: 9px;
    border-radius: 4px;
    background: #307c47;
    color: #fff;
    font-weight: bold;
    min-width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

#card_description_block_meta_three {
    margin-right: 10px;
}
#card_description_block_meta div:nth-child(3){
    margin-right: 10px;
}

.card_description_block_meta_code {
    padding: 9px;
    border-radius: 4px;
    background: #961a2d;
    color: #fff;
    font-weight: bold;
    min-width: 150px;
}






#card_description_block_price{
    border-bottom: 3px solid #373d42;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
}

#card_description_block_price_price {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

#card_description_block_price_order{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


#card_description_block_price_order span:nth-child(1) {
    margin-right: 8px;
}



#card_description_block_price_order_stock{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#card_description_block_price_order_order{
    display: flex;
    align-items: center;
}

#card_description_block_description{
    margin-top: 30px;
    max-width: 510px;
    padding: 10px;
    font-family: 'Istok Web', sans-serif;
    font-size: 21px;
}

#card_admin_do{
	text-align: center;
}

.card_description_block_price_price_wrapper span:nth-child(2){
    font-weight: bold;
    color: red;
}





#card_description_block_back {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    color: #000;
    font-weight: bold;
}















#navbar_header{
	z-index: 3;
}

#main_left_menu{
	z-index: 2;
}

#login_img_photo {
	width: 50px;
}

.login_img_link{
    bottom: 8px;

}

.login_img_link:hover {
    color: #bdb5b5;
}







#menu_common > a{
    pointer-events: none;
    cursor: default;
}



.form_field {
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.form_field .help {
	font-size: smaller;
	font-style: italic;
}

.form_field .label {
	width: 2px;
}

.submit_button {
	width: 100%;
}

.error_list .error_description {
	color: #FF0000;
}




#imagepool_output {
	display: none;
}


#imagepool_image_list {
	margin-top: 60px;
}

#imagepool_image_list td {
	text-align: center;
	width: 160px;
	height: 120px;
}


#imagepool_image_list td.link {
	font-size: xx-large;
	width: 20px;
}

#imagepool_image_list td a:link, #imagepool_image_list td a:visited,
#imagepool_image_list td a:active, #imagepool_image_list td a:hover {
	text-decoration: none;
}

#imagepool_image_list td a:disable:link, #imagepool_image_list td a:disable:visited,
#imagepool_image_list td a:disable:active, #imagepool_image_list td a:disable:hover {
	text-decoration: none;
}




#wrapper_info_BASKET {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.info_BASKET {
    display: flex;
    width: 500px;
    height: 225px;
    background: #f7f7f7;
/*    position: fixed;
    top: 205px;
    left: 33%;*/
    z-index: 01;
    box-shadow: 0 0 11px 2px rgba(10, 2, 2, 0.5);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Lora";
    position: relative;
}






#div_wrapper_for_stock_banner{
    display: flex;
    justify-content: center;

}

#div_for_stock_banner {
    width: 1101px;
    display: flex;
    flex-direction: row;
    /*box-shadow: -1px 4px 15px 6px rgba(0,0,0, 0.3);*/
    padding: 6px;
    justify-content: space-around;
}


.banner_stock_img{
    max-width: 535px;
    max-height: 762px;
}

.div_for_stock_img {
    margin-bottom: 16px;
    border: 1px solid black;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.6);
}


.div_for_stock_img:hover {
    border: 1px solid #d70619;
    box-shadow: 0px 2px 11px 1px rgb(195, 23, 23);
}


#div_column_for_stock_banner_one {
    display: flex;
    flex-direction: column;
    max-width: 562px;
    margin-right: 8px;  
}

#div_column_for_stock_banner_one {
    display: flex;
    flex-direction: column;
    max-width: 543px;
}

#blur_for_banner {
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    z-index: 9;
    justify-content: center;
    align-items: center;
}


#wrapper_for_open_big_img_banner {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-content: center;
    z-index: 99999;

}


#open_big_img_banner {
    /* box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.8); */
    background: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4%;
    padding-bottom: 0px;
    min-width: 455px;
    max-width: 1600px;
}




.basket_history_data{
    display: flex;
    justify-content: space-between;

}


.basket_history_date {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.basket_history_total_count{
    font-weight: bold;
    font-size: 14px;

} 

.basket_history_table {
    margin: 0px 0px 30px 0px;
    background-color: #fff;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    box-shadow: rgb(179, 179, 179) -14px 11px 12px 0px;
}

.basket_history_table_row {
 

}

#cart_svg {
    width: 32px;
}

.navbar-nav{
    height: 56px;
    padding-top: 9px;

}

#cart_link{
    font-size: 22px;
    padding: 0;
    color: white;
}


.search-container {
    right: 15px;
    position: absolute;
}

#search_input {
    margin-right: 9px;
    width: 99px;
    background: rgb(52, 58, 64);
    border: none;
    outline: none;
    border-bottom: 1px solid #b3b3b3;
    color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1); 
}


#search_form{
    display: flex;
}

#search_input::placeholder {
  color: #b3b3b3;
  font-size: 1em;
}

#search_sumbit {
    color: #28a745;
    border-color: #28a745;
    background-color: transparent;
    border: 1px solid;
    height: 26px;
    width: 63px;
    text-align: center;
}

#search_sumbit > a {
    color: #28a745;
    text-decoration: none;
}


#search_output {
/*    height: 636px;*/
    position: absolute;
    width: 374px;
    /*background-color: #fff;*/
    display: none;
    box-shadow: rgb(55, 61, 66) 0px 0px 20px 6px;
}




.search_output_characteristics {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}

.search_output_wrapper{
    display: flex;
    height: 100%;
}

.search_output_description{
    font-size: 15px;
}


.search_output_row_img{
    margin-right: 3px;
}

.search_output_row_img > img{
    max-width: 50px;
}



.search_output_row{
/*    height: 72px;*/
    border-bottom: 1px solid #000;
/*    border-left: 1px solid #000;
    border-right: 1px solid #000;*/
    background: #fff;
}


.search_output_wrapper_data {
    width: 100%;
}

.search_output_row:hover .search_output_wrapper_data{
    background: #d4d4d4;
    /*box-shadow: rgb(55, 61, 66) 0px 0px 20px 6px;*/
}

.search_output_row > a{
    color: black;
    text-decoration: none;
}





.search_output_producer{
    color: #101086;
}

.search_output_articul{
    color: #307c47;
}

.search_output_code{
    color: #961a2d;
}






.cart_delete_item {
    border: 1px solid red;
    text-align: center;
    cursor: pointer;
    font-weight: 100;
}

#cart_is_empty {
    text-align: center;
}

.cart_delete_item:hover {
    box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 0.5);
}

/*<div class="search-container">
    <form method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
        <input id='search_input' type="text" placeholder="Искать..." name="searche_good">
        <button id='search_sumbit' type="submit">Поиск</button>
    </form>
</div>*/


#input_search_2 > input {
    width: 292px;
    background: rgb(52, 58, 64);
    border: none;
    outline: none;
    border-bottom: 1px solid #b3b3b3;
}



.table_tr_code {
    color: #961a2d;
}
.table_tr_code > a{
    color: #961a2d;
    text-decoration: none;
}

.table_tr_articul {
    color: #307c47;
}

.table_tr_producer {
    color: #101086;
}


.table_tr_description{
    text-align: -webkit-auto;
}


.form_field {
    margin: 0px;
}






#img_big_wrapper {
    display: none;
}

#img_big_wrapper_block {
    text-align: center;
    max-width: 70%; 
}

#img_big_wrapper_img {
    /*max-width: 70%;*/
    box-shadow: rgb(55, 61, 66) 0px 0px 20px 3px;
}

#lenta_table_meta {
    background: #fff;
    display: flex;
    z-index: 1;
    position: fixed;
    top: 81px;
    border-bottom: 1px solid #9c9c9c;
    font-weight: bold;
}

#lenta_table_meta > div {
    padding: .75rem;
    text-align: center;
}

#lenta_code {
    color: #961a2d;
}

#lenta_producer {
    color: #101086;
}

#lenta_articul {
    color: #307c47;
}




#books_producers_wrapper {
    display: flex;
    position: fixed;
    bottom: 5px;
    width: 100%;
    justify-content: center;
}

#books_producers_producer{
    flex-grow: 1;
    border: solid #000000 1px;
    border-radius: 4px;
    margin: 0 2px 0 2px;
    text-align: center;
    padding: 2px;
    background-color: #373d42;
    cursor: pointer;
    line-height: 1;
    font-size: 19px;
}


#books_producers_producer:hover{
    background: #951b2d;
}

#books_producers_producer:hover a.books_producers_producer_link{
    color: #000;
}


a.books_producers_producer_link{
    color: #307b47;
    color: #fff;
    text-decoration: none;
}


/*th.row_th_stock{
    vertical-align: baseline;
}*/

.row_th_stock_img{
    width: 50px;
}


li#producers_all_navbar{
    display: block;
    position: relative;
   /* align-items: none;*/
}

#producers_all_navbar_list {    
    display: none;
    position: absolute;
    min-width: 311px; 
    height: 500px;
    top: 0;
    left: 200px;
    background-color: white;
    border: 1px solid #191918;
    overflow-y: auto;   
    overflow-x: hidden;
}

#producers_all_navbar:hover #producers_all_navbar_list{
    display: block;
}




#menu_open_link {
    cursor: pointer;
}

.menu_main {
    position: fixed;
    height: 100%;
    z-index: 2;
    min-width: 200px;
    background-color: #191918;
    display: none;
}

.menu_main_content{
    margin-top: 119px;
}


.menu_main_link {
    display: flex;
    align-items: center;
}

.menu_main_link > a{
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    text-decoration: none;

}

.menu_main_link:hover >a {
    color: #fff;
}

.menu_main_link_photo{
    margin-right: 18px;
}

.menu_main_link_photo > img {
    max-width: 111px;
    max-height: 30px;
}




.main_menu_producer_link:hover {
    /*color: #191918;*/
    color: #fff;
    background: #a3162b;
}


.hidden_opt{
    cursor: pointer;
}

.menu_producer_link {
    text-decoration: none;
    color: #b3b3b1;
    text-decoration: none;
}
.menu_producer_link:hover {
    text-decoration: none;
}

.main_menu_producer_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bdbcbc;
}

.main_menu_producer_link > span {
    padding: 15px 30px;
    color: #343a40;
    font-weight: bold;
}











#footer_wrapper_main{
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

#footer_name{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 16px;
}

#footer_name > span{
    margin-right: 5px;
}


#footer_name > div:nth-child(2){
    margin-right: 5px;
}



#footer_meta{
    display: flex;
    flex-direction: column;
}

#footer_meta > div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#footer_meta_phone > span{
    margin-right: 5px;
}

#footer_meta_mail > span{
    margin-right: 5px;
}


#footer_name > span {
    font-size: 15px;
    position: absolute;
    left: 20px;
    color: #949494;
}


#footer_name > div {
    font-size: 20px;
}

#footer_meta_phone > span {
    font-size: 15px;
    position: absolute;
    left: 20px;
    color: #949494;
}

#footer_meta_phone > div {
    font-size: 18px;
}


#footer_meta_mail > span {
    font-size: 15px;
    position: absolute;
    left: 20px;
    color: #949494;
}

#footer_meta_mail > div {
    font-size: 18px;
}





#pagination > nav > ul > li > a{
    color: #18426b;
}

th.table_tr_description{
    max-width: 230px;
}


tr > th:first-child:hover {
    background: #cecece;
    cursor: pointer;
}