@charset "utf-8";

nav.navbar {
	background-color: #ffe6e6;
}




.row {
	background-color: #f1f1f7;
}

#pagination {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

#pagination #previous-page {
	float: left;
}

#pagination #num-pages {
	text-align: center;
}

#pagination #next-page {
	float: right;
}

.photo_list {
	max-width: 169px;
	max-height: 110px;
}


#row_img{
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
}

.row_th_img {
	text-align: center;
}




#main_card_good {
	position:  absolute;
	display: flex;
	flex-direction: column;
}


#card_description_img > img{
	max-width: 371px;
    max-height: 371px;
}

#card_description {
	display: flex;
}

#card_admin_do{
	text-align: center;
}




#navbar_header{
	z-index: 3;
}

#main_left_menu{
	z-index: 2;
}

#login_img_photo {
	width: 50px;
}

.login_img_link{
	right:  5px;
}









#menu_common > a{
    pointer-events: none;
    cursor: default;
}



.form_field {
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.form_field .help {
	font-size: smaller;
	font-style: italic;
}

.form_field .label {
	width: 2px;
}

.submit_button {
	width: 100%;
}

.error_list .error_description {
	color: #FF0000;
}




#imagepool_output {
	display: none;
}


#imagepool_image_list {
	margin-top: 60px;
}

#imagepool_image_list td {
	text-align: center;
	width: 160px;
	height: 120px;
}


#imagepool_image_list td.link {
	font-size: xx-large;
	width: 20px;
}

#imagepool_image_list td a:link, #imagepool_image_list td a:visited,
#imagepool_image_list td a:active, #imagepool_image_list td a:hover {
	text-decoration: none;
}

#imagepool_image_list td a:disable:link, #imagepool_image_list td a:disable:visited,
#imagepool_image_list td a:disable:active, #imagepool_image_list td a:disable:hover {
	text-decoration: none;
}




#wrapper_info_BASKET {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.info_BASKET {
    display: flex;
    width: 500px;
    height: 225px;
    background: #f7f7f7;
/*    position: fixed;
    top: 205px;
    left: 33%;*/
    z-index: 01;
    box-shadow: 0 0 11px 2px rgba(10, 2, 2, 0.5);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Lora";
    position: relative;
}






#div_wrapper_for_stock_banner{
    display: flex;
    justify-content: center;

}

#div_for_stock_banner {
    width: 1101px;
    display: flex;
    flex-direction: row;
    /*box-shadow: -1px 4px 15px 6px rgba(0,0,0, 0.3);*/
    padding: 6px;
    justify-content: space-around;
}


.banner_stock_img{
    max-width: 535px;
    max-height: 762px;
}

.div_for_stock_img {
    margin-bottom: 16px;
    border: 1px solid black;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.6);
}


.div_for_stock_img:hover {
    border: 1px solid #d70619;
    box-shadow: 0px 2px 11px 1px rgb(195, 23, 23);
}


#div_column_for_stock_banner_one {
    display: flex;
    flex-direction: column;
    max-width: 562px;
    margin-right: 8px;  
}

#div_column_for_stock_banner_one {
    display: flex;
    flex-direction: column;
    max-width: 543px;
}

#blur_for_banner {
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    z-index: 9;
    justify-content: center;
    align-items: center;
}


#wrapper_for_open_big_img_banner {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-content: center;
    z-index: 99999;

}


#open_big_img_banner {
    /* box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.8); */
    background: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4%;
    padding-bottom: 0px;
    min-width: 455px;
    max-width: 1600px;
}



.basket_history_date {
    margin-left: 10px;
    font-weight: bold;
    font-size: 21px;
}

.basket_history_table {
    margin: 0px 0px 30px 0px;
    background: rgb(210, 210, 210);
}

.basket_history_table_row {
    background-color: rgb(234, 234, 234);
}