@charset "utf-8";



@media not screen and (max-width: 1300px) {
    #content_block{
        background-color: #dedede;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .main > table.table_list_goods{
        width: 1266px;
        box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.5);
        background-color: #fff;
    }

    #cart_history_wrapper {
        width: 1266px;
    }

    #main_card_good{
        width: 1266px;
        height: 1000px;
        background-color: #fff;
        box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.5);
    }

}






footer {
    width: 100%;
    height: 300px;
    background: #262a2d;
}









#navbar_header{
    position: fixed;
    width: 100%;
}

nav.navbar {
	background-color: #ffe6e6;
}

#content_block{
    margin-top: 81px;
    min-height: 900px;
}




.row {
	background-color: #f1f1f7;
}

#pagination {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

#pagination #previous-page {
	float: left;
}

#pagination #num-pages {
	text-align: center;
}

#pagination #next-page {
	float: right;
}

.photo_list {
	max-width: 169px;
	max-height: 110px;
}


#row_img{
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
}

.row_th_img {
	text-align: center;
}




#main_card_good {
/*	position:  absolute;
	display: flex;
	flex-direction: column;*/
}


#card_description_img > img{
	max-width: 371px;
    max-height: 371px;
}

#card_description {
	display: flex;
}

#card_admin_do{
	text-align: center;
}




#navbar_header{
	z-index: 3;
}

#main_left_menu{
	z-index: 2;
}

#login_img_photo {
	width: 50px;
}

.login_img_link{
    bottom: 8px;

}

.login_img_link:hover {
    color: #bdb5b5;
}







#menu_common > a{
    pointer-events: none;
    cursor: default;
}



.form_field {
	width: 100%;
	margin: 20px 0px 20px 0px;
}

.form_field .help {
	font-size: smaller;
	font-style: italic;
}

.form_field .label {
	width: 2px;
}

.submit_button {
	width: 100%;
}

.error_list .error_description {
	color: #FF0000;
}




#imagepool_output {
	display: none;
}


#imagepool_image_list {
	margin-top: 60px;
}

#imagepool_image_list td {
	text-align: center;
	width: 160px;
	height: 120px;
}


#imagepool_image_list td.link {
	font-size: xx-large;
	width: 20px;
}

#imagepool_image_list td a:link, #imagepool_image_list td a:visited,
#imagepool_image_list td a:active, #imagepool_image_list td a:hover {
	text-decoration: none;
}

#imagepool_image_list td a:disable:link, #imagepool_image_list td a:disable:visited,
#imagepool_image_list td a:disable:active, #imagepool_image_list td a:disable:hover {
	text-decoration: none;
}




#wrapper_info_BASKET {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.info_BASKET {
    display: flex;
    width: 500px;
    height: 225px;
    background: #f7f7f7;
/*    position: fixed;
    top: 205px;
    left: 33%;*/
    z-index: 01;
    box-shadow: 0 0 11px 2px rgba(10, 2, 2, 0.5);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Lora";
    position: relative;
}






#div_wrapper_for_stock_banner{
    display: flex;
    justify-content: center;

}

#div_for_stock_banner {
    width: 1101px;
    display: flex;
    flex-direction: row;
    /*box-shadow: -1px 4px 15px 6px rgba(0,0,0, 0.3);*/
    padding: 6px;
    justify-content: space-around;
}


.banner_stock_img{
    max-width: 535px;
    max-height: 762px;
}

.div_for_stock_img {
    margin-bottom: 16px;
    border: 1px solid black;
    box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.6);
}


.div_for_stock_img:hover {
    border: 1px solid #d70619;
    box-shadow: 0px 2px 11px 1px rgb(195, 23, 23);
}


#div_column_for_stock_banner_one {
    display: flex;
    flex-direction: column;
    max-width: 562px;
    margin-right: 8px;  
}

#div_column_for_stock_banner_one {
    display: flex;
    flex-direction: column;
    max-width: 543px;
}

#blur_for_banner {
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    z-index: 9;
    justify-content: center;
    align-items: center;
}


#wrapper_for_open_big_img_banner {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-content: center;
    z-index: 99999;

}


#open_big_img_banner {
    /* box-shadow: 1px 4px 18px rgba(0, 0, 0, 0.8); */
    background: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4%;
    padding-bottom: 0px;
    min-width: 455px;
    max-width: 1600px;
}




.basket_history_data{
    display: flex;
    justify-content: space-between;

}


.basket_history_date {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.basket_history_total_count{
    font-weight: bold;
    font-size: 14px;

} 

.basket_history_table {
    margin: 0px 0px 30px 0px;
    background-color: #fff;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    box-shadow: rgb(179, 179, 179) -14px 11px 12px 0px;
}

.basket_history_table_row {
 

}

#cart_svg {
    width: 32px;
}

.navbar-nav{
    height: 56px;
    padding-top: 9px;

}

#cart_link{
    font-size: 22px;
    padding: 0;
    color: white;
}


.search-container {
    right: 15px;
    position: absolute;
}

#search_input {
    width: 292px;
    background: rgb(52, 58, 64);
    border: none;
    outline: none;
    border-bottom: 1px solid #b3b3b3;
    color: #fff;
}

#search_input::placeholder {
  color: #b3b3b3;
  font-size: 1em;
}

#search_sumbit {
    color: #28a745;
    border-color: #28a745;
    background-color: transparent;
    border: 1px solid;
    height: 26px;
    width: 63px;
}



#search_output {
    height: 371px;
    position: absolute;
    width: 292px;
    background-color: #000;
    color: #fff;
    display: none;
}

.cart_delete_item {
    border: 1px solid red;
    text-align: center;
    cursor: pointer;
    font-weight: 100;
}

#cart_is_empty {
    text-align: center;
}

.cart_delete_item:hover {
    box-shadow: 0px 0px 0px 3px rgba(255, 0, 0, 0.5);
}

/*<div class="search-container">
    <form method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
        <input id='search_input' type="text" placeholder="Искать..." name="searche_good">
        <button id='search_sumbit' type="submit">Поиск</button>
    </form>
</div>*/