{% load staticfiles %}
<nav class='navbar navbar-expand-lg navbar-dark bg-dark' id='navbar_header'>
	<a href="{% url 'index' %}"  class='navbar-brand'><img src="{% static 'logo/logotype-header.png' %}" alt='logo' width="150", height="55"></a>
	<div class="btn-group">
		<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Фильтр
		</button>
		<div class="dropdown-menu">
			<div class="dropdown open">
				{% for cat in cats %}
					<a href="{% url 'index' cat_id=cat.pk %}"><button class="dropdown-item" type="button">{{cat}}</button></a>	
				{% endfor %}
			</div>
		</div>
		<ul class='navbar-nav'>
			<li class="nav-item menu-btn" id='menu_common'><a class="nav-link" href=''>&#9776; Menu</a></li>

		</ul>	 
	</div>
	{% if user.is_authenticated %}
		<a class='position-absolute login_img_link' href="/logout" title='Выйти'><img  id='login_img_photo' src="{{logout_img.photo.url}}"></a>
	{% else %}
		<a class='position-absolute login_img_link' href="/login" title='Войти'><img  id='login_img_photo' src="{{login_img.photo.url}}"></a>
	{% endif %}
</nav>


<nav class="pushy pushy-left" data-focus="#first-link" id='main_left_menu'>
    <div class="pushy-content">
        <ul>
            <li class="pushy-submenu">
                <button id="first-link">Новые поступления</button>
                <ul>
                    <li class="pushy-link"><a href="#"  id='update_admission'>Обновленныe позиции</a></li>
                    <li class="pushy-link"><a href="#" id='news_admission'>Новинки</a></li>
                </ul>
            </li>
            <li class="pushy-link"><a href="{% url 'good_add'  cat_id=1 %}">Add</a></li>
            <li class="pushy-link"><a href="{% url 'add_file' %}">Add_file</a></li>
            <li class="pushy-link"><a href="{% url 'add_file' %}">Add_file</a></li>
            <li class="pushy-link"><a href="{% url 'add_img' %}">Add_img</a></li>
            <li class="pushy-link"><a href="#" id='main_filter_bottom'>Фильтр</a></li>
  			<li class="pushy-link"><a href="#" id='action_actions'>Акции</a></li>
			<li class='pushy-link' id='loadPrice'><a class='nav-link' href='#'>Скачать прайс</a></li>
			{% if perms.admin.add_good %}
				<li class='pushy-link' id='admin_bottom'><a href='/admin'>Админ</a></li>
			{% endif %}
        </ul>
    </div>
</nav>