{% extends "main_page/index.html" %}


{% block content %}
<div class='main'>
	{% include "includes/lenta_meta_table.html" %}
	<table class='table table-hover table_list_goods'>
		<thead>
			<th style="width:  8.5%" class='table_tr_code'>Код</th>
			<th style="width:  12.5%" class='table_tr_producer'>Производитель</th>
			<th style="width:  12.5%" class='table_tr_articul'>Артикул</th>
			<th class='row_th_description'>Описание</th>
			<th style="width:  12.5%" class='row_th_img'>Фото</th>
			<th style="width:  9.5%" class='row_th_price'>Цена</th>
			{% if user.is_authenticated %}
				<th style="width:  9.5%" class='row_th_opt_price'>Опт-цена</th>
			{% endif %}
			<th style="width:  6.5%" class='row_th_order'>Заказать</th>
		</thead>
		<tbody>
			{% for good in object_list %}
					<tr>
						<th style="width:  8.5%" class='table_tr_code' ><a href="{% url 'good_page' code=good.code %}?page={{page_obj.number}}">{{good.code}}</a></th>
						<th style="width:  12.5%" class='table_tr_producer'>{{good.producer}}</th>
						<th style="width:  12.5%" class='table_tr_articul'>{{good.articul}}</th>
						<th class='table_tr_description' >{{good.description}}</th>
						{% if not good.photo %}
							<th style="width:  12.5%" class='row_th_img'><img id='row_img' class='img_full' src="{{default_img.url}}"></th>
						{% else %}
							<th style="width:  12.5%" class='row_th_img'><img id='row_img' class='img_full' src="{{good.photo.photo.url}}"></th>
						{% endif %}
						<th style="width:  9.5%" >{{good.price}}</th>
						{% if user.is_authenticated %}
							{% if opt_user == 2 %}
								<th style="width:  9.5%">{{good.price_2}}</th>
							{% elif opt_user == 3 %}
								<th style="width:  9.5%">{{good.price_2}}</th>
							{% elif opt_user == 5 %}
								<th style="width:  9.5%">{{good.price_5}}</th>
							{% elif opt_user == 6 %}
								<th style="width:  9.5%">{{good.price_6}}</th>
							{% else %}
								<th style="width:  9.5%">Админ</th>
							{% endif %}
						{% endif %}
						<th style="width:  6.5%">
						    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
						        {% csrf_token %}
								{% for field in form.hidden_fields %}
									{{ field }}
								{% endfor %}
								{% for field in form.visible_fields %}
									{% if field.name == 'honeypot' %}
										<div class='honeypot'>{{ field }}</div>
									{% else %}
										<div class='form_field'>
											{% if field.errors|length > 0 %}
												<div class='eror_list'>
													{% for error in field.errors %}
														<div class='error_description'>{{ error }}</div>
													{% endfor %}
												</div>
											{% endif %}
											{% if field.label %}
												<div class='label'>{{ field.label }}</div>
											{% endif %}
											<div class='control input_count' id='form_{{good.code}}'>{{ field }}</div>
											{% if field.help_text %}
												<div class='help'>{{ field.help_text }}</div>
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}
    						</form>
						</th>
						<th>
						</th>	
					</tr>	
			{% endfor %}
		</tbody>	
	</table>
	{% if page_obj.paginator.num_pages > 1 %}
		<div id='pagination'>
			{% if category %}
				{% if page_obj.has_previous %}
					<div id='previous-page'><a href="{% url 'index' %}{{category.pk}}/?page={{ page_obj.previous_page_number }}">&lt;</a></div>
				{% endif %}
				<div id='num-pages'>
					{% for pn in page_obj.paginator.page_range %}
						{% if not forllop.first %}
							&nbsp;&nbsp;|&nbsp;&nbsp;
						{% endif %}
						{% if category %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}{{category.pk}}/?page={{ pn }}">
							{% endif %}
						{% else %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}?page={{ pn }}">
							{% endif %}
						{% endif %}
						{{ pn }}
						{% if page_obj.number != pn %}
							</a>
						{% endif %}
					{% endfor %}
				</div>	
				{% if page_obj.has_next %}
					<div id='next-page'><a href="{% url 'index' %}{{category.pk}}/?page={{ page_obj.next_page_number }}">&gt;</a></div>
				{% endif %}
			{% else %}
				{% if page_obj.has_previous%}
					<div id='previous-page'><a href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">&lt;</a></div>
				{% endif %}
				<div id='num-pages'>
					{% for pn in page_obj.paginator.page_range %}
						{% if not forllop.first %}
							&nbsp;&nbsp;|&nbsp;&nbsp;
						{% endif %}
						{% if category %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}{{category.pk}}/?page={{ pn }}">
							{% endif %}
						{% else %}
							{% if page_obj.number != pn %}
								<a href="{% url 'index' %}?page={{ pn }}">
							{% endif %}
						{% endif %}
						{{ pn }}
						{% if page_obj.number != pn %}
							</a>
						{% endif %}
					{% endfor %}
				</div>	
				{% if page_obj.has_next%}
					<div id='next-page'><a href="{% url 'index' %}?page={{ page_obj.next_page_number }}">&gt;</a></div>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
</div>
{% endblock %}


