{% extends 'main_page/index.html' %}
{% block title %}Удаление :: {{good.name}} :: {{good.category.name}}{% endblock %}
{% block body %}
	<form action='' method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="Сохранить" value="Добавить">
	</form>
	<p><a href="{% url 'index' cat_id=category.id%}?page={pn}}">Назад</a></p>
	{% if messages %}
		<ul class='message-list'>
			{% for mes in messages %}
				<li class='{{mes.tags}}'>{{mes}}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}